
<div class="main-body">
	<h2 class="centered">ABOUT US</h2>
	<div class="underline"></div>
	<p>The UQ Beer and Rum Society has undergone some changes this year! We have an all new executive keen to give the society a massive resurgence with all new events, merchandise, and special member deals. Come see us at market day (24th of February) and see what we have to offer!
	</p>
</div>
