
<div class="main-body">
	<h2 class="centered">BOOK</h2>
	<div class="underline"></div>
	<p>
		There are no events that require booking at the moment, but check out the events page or the calendar to find out about smaller events that you can just rock up to and spin a few yarns over a quiet beverage with some mates.
	</p>
</div>
