
<div class="main-body">
	<h2 class="centered">UQBARS CARD</h2>
	<div class="underline"></div>
	<p>
			Thanks to our sponsors, we're able to bring you amazing deals with our membership card! Here is a list of all the offers our sponsors are bringing to our card.<br /><br/></p>

	<div class="sponsor-section">
		<h2>Major Sponsor Deals</h2>
		<p>
			<a href="http://www.batterystationbrisbane.com">Battery Station</a>: Upon booking a function with Battery Station, receive 1 free food platter to the value of $75 from their menu.
		</p>

		<p>
			<a href="http://www.stockexchangehotel.com.au/">Stock Exchange Hotel</a>:
			<ul>
				<li>Stockies contributes $0.50 for every $1 spent on a bar tab for pre-arranged special events up to $1K.</li>
				<li>Express entry</li>
				<li>$30 birthday tab</li>
				<li>Free room hire for birthdays with over 50 people (subject to availability)</li>
				<li>Free entry for special events</li>
			</ul>
		</p>

		<p>
			<a href="http://www.rehotel.com.au/">The RE</a>: 10% off EVERYTHING!
		</p>

		<p>
			<a href="http://www.thevictory.com.au/">The Victory Hotel</a>: 10% discount on any food purchase. Priority entry as well as free entry on Sunday Sessions and any non-ticketed event with a cover charge.
		</p>


	</div>

	<div class="sponsor-section">
		<h2>Sponsor Deals</h2>

		<p>
			<a href="http://www.archivebeerboutique.com.au/">Archive Beer Boutique</a>: $5 Stone and Wood. 2 for 1 main meals on Wednesdays.
		</p>

		<p>
			<a href="http://katarzyna.com.au/venues/birdees/">Birdees</a>: Free entry to members on Saturdays before midnight. Complimentary bungalow on Thursday nights when you bring 10+ people (subject to availability). 10% off bungalow bookings.
		</p>

		<p>
			<a href="http://www.uqu.com.au/outlet/15/darwins">Darwin's Cafe</a>, <a href="http://www.pizzacaffe.com.au/">Pizza Caffe</a> and <a href="http://www.uqu.com.au/outlet/16/physiol">Physiol</a>: Free medium coffee with any meal purchase over $12.
		</p>

		<p>
			<a href="https://www.facebook.com/empirebrisbane/">Empire Hotel</a>: 10% off all food for members.
		</p>

		<p>
			<a href="http://www.theflyingcock.com.au/">The Flying Cock</a>: Any burger on the menu for $10 (with any drink, excluding the Bacon Double Cheeseburger).<br/>
			The Flying Cock will also be doing a student happy hour for all members from 9-10 every Friday and Saturday night, with UQBARS members able to access awesome deals.
		</p>

		<p>	
			<a href="http://www.fringebar.com.au/">Fringe Bar</a> and <a href="http://www.kerbside.com.au/">Kerbside</a>: See <%= link_to "this document", "/resources/fringeandkerbside.pdf" %> for details.
		</p>

		<p>
			<a href="http://www.groovetrain.com.au/">The Groove Train</a>: TBA
		</p>

		<p>
			<a href="http://www.hotgossipnightclub.com">Hot Gossip</a>: Free entry to all members till 12am on Friday and Saturday nights.
		</p>

		<p>
			<a href="http://www.ohhello.com.au">Oh Hello!</a>: For all non-ticketed nights (excluding special events) members can access express and free entry before 11pm. Discounted entry will be offered to members after 11pm.
		</p>

		<p>
			<a href="http://www.pancakemanor.com.au/">The Pancake Manor</a>: 10% off to members, includes all meals and non-alcoholic drinks (can't be used in conjunction with other offers).
		</p>

		<p>
			<a href="http://www.pignwhistle.com.au/indooroopilly/">Pig 'N' Whistle Indooroopilly</a>: Ask at the bar for member specials. Free room hire for events over 50 people.
		</p>

		<p>
			<a href="http://www.prohibitionbrisbane.com.au/">Prohibition</a>: Express entry before 11pm Thursday, Friday and Saturday nights (excluding special/ticketed events).
		</p>

		<p>
			<a href="http://www.redroombar.com.au/">The Red Room</a>: $3.50 hot chips during bistro hours. Free glass of soft drink with any meal purchase over $12. 10% additional value to any bar or food tab over $99 (must be arranged 24 hours before the booking time).
		</p>

		<p>
			<a href="http://riverlife.com.au">Riverlife</a>: $25 tickets to attend Five Flavours Beer and Street Food Events (Includes 2 boutique beers and a meal).
		</p>

		<p>
			<a href="http://www.stonescornerhotel.com.au/">Stone's Corner Hotel</a>: Come to Thursday Uni Nights in a group of 10 or more people by 8pm and get a complimentary $100 food platter.
		</p>

		<p>
			<a href="https://www.facebook.com/ThaiNakonlanna/">Thai Nakolanna (Saint Lucia Village)</a>: 10% off on presentation of your UQ BARS card.
		</p>

		<p>
			<a href="http://toowongbowlsclub.com.au/">Toowong Bowls Club</a>: Student discount on food and drinks.
		</p>	
	

		<p>
			<a href="http://woollymammoth.com.au/">Woolly Mammoth</a>: Woolly Mammoth will supply key rings to all members which allow access to special offers.
		</p>

 



		
	</div>




</div>
