
<div class="main-body">
	<h2 class="centered">UQBARS CARD</h2>
	<div class="underline"></div>
	<p>
			Thanks to our sponsors, we're able to bring you amazing deals with our membership card! Here is a list of all the offers our sponsors are bringing to our card.<br /><br/></p>

	<div class="sponsor-section">
		<h2>Alcohol and Club Deals</h2>
		<p>
			<a href="http://www.ohhello.com.au">Oh Hello!</a>: For all non-ticketed nights (excluding special events) members can access express and free entry before 11pm. Discounted entry will be offered to members after 11pm.
		</p>

		<p>
			<a href="http://www.hotgossipnightclub.com">Hot Gossip</a>: Free entry to all members till 12am on Friday and Saturday nights.
		</p>

		<p>
			<a href="http://www.batterystationbrisbane.com">Battery Station</a>: Upon booking a function with Battery Station, receive 1 free food platter to the value of $75 from their menu.
		</p>

		<p>
			<a href="http://woollymammoth.com.au/">Wooly Mammoth</a>: Wooly Mammoth will supply key rings to all members which allow access to special offers.
		</p>

		<p>
			<a href="http://katarzyna.com.au/venues/birdees/">Birdees</a>: Free entry to members on Saturdays before midnight. Complimentary bungalow on Thursday nights when you bring 10+ people (subject to availability).
		</p>

		<p>
			<a href="https://www.facebook.com/empirebrisbane/">Empire Hotel</a>: 10% off all food for members.
		</p>

		<p>
			<a href="http://www.theflyingcock.com.au/">The Flying Cock</a>: Any burger on the menu for $10 (with any drink, excluding the Bacon Double Cheeseburger).<br/>
			The Flying Cock will also be doing a student happy hour for all members from 9-10 every Friday and Saturday night.
		</p>

		<p>
			<a href="http://www.batterystationbrisbane.com/">Battery Station</a>: For functions held at Battery Station, we'll get a free food platter up to $75.
		</p>
	</div>

	<div class="sponsor-section">
		<h2>Non-alcohol Deals</h2>
		<p>
			<a href="http://www.pancakemanor.com.au/">The Pancake Manor</a>: 10% off to members, includes all meals and non-alcoholic drinks (can't be used in conjunction with other offers).
		</p>
	</div>



</div>
