
<div class="main-body">
	<h2 class="centered">EVENTS</h2>
	<div class="underline"></div>
	<p class="centered">
		<ul class="eventslist">
			<li>Week O: Market Day! Join us for Beers @ The Bowlsy (Toowong Bowls Club)</li>
			<li>Week 1: Sunday 28th - Battery Station event with Live Music</li>
			<li>Week 2: Wednesday 9th - UQBARS BBQ @ the grassy knoll</li>
			<li>Week 3: Sunday 13th - BARS Launch Party!<br/>
					   Thursday 17th - Rums @ the Reddo</li>
			<li>Week 4: Wednesday 23rd - UQBARS BBQ @ Cooper Road</li>
			<li>Week 5: Friday 8th - Beers @ the Battery</li>
			<li>Week 7: Thursday 21st - Rums @ the Reddo</li>
			<li>Week 9: Sunday 1st - Weekend @ the Woolly Mammoth</li>
			<li>Week 11 Friday 20th - Beers @ the Bowlsy</li>
		</ul>
	</p>
</div>
