
<div class="main-body">
	<h2 class="centered">JOIN NOW</h2>
	<div class="underline"></div>
	<p>Please excuse us! We haven't yet got an online membership form, but feel free to email us to join at info@uqbars.com or send us a Facebook message. You can also join in person on market day (24th of February) or at any event to join!</p>
</div>
