
<div class="main-body">
	<h2 class="centered">MESSAGE TO SPONSORS</h2>
	<div class="underline"></div>

	<p>
	<div class="docdownload">Have a look at our 2016 Sponsorship Document! It has everything you need to know about sponsoring us. <a href="UQBARS Sponsorship.pdf" target="_blank">View here</a> or <a href="UQBARS Sponsorship.pdf" download="UQBARS 2016 Sponsorship">download here</a>. Thank you for your support!</div><br/ ><br />

	190 UQU Clubs and Societies sign up thousands of students to clubs in the Great Court twice a year.  With over 40,000 STUDENTS enrolled at UQ, Market Day is an incredible opportunity for sponsors to showcase their brands and promote their products.	UQU clubs run heaps of social gatherings all year round including BBQs, Club Balls, Dinners, Movie nights, Pizza nights, Industry nights and Red Room Sessions.  UQ BARS plans to run events throughout 2016 and believes this is the perfect opportunity for sponsors to promote their businesses to the thousands of new and current students.  <br /><br />

	We are welcoming sponsorship support for 2016. In exchange for funding we are prepared to commit to the promotion of your brands through social media, at events, on the UQ BARS Card and on merchandise. Our UQ BARS Facebook account has over 1000 LIKES and a reach of over 2500. We predict these statistics will increase in 2016.   We would be happy to post about products and events on the page.

	</p>

	<h2 class="centered">CURRENT SPONSORS</h2>
	<div class="underline"></div>

	<p class="sponsor-icon-container">
		<a href="http://www.ohhello.com.au">
			<img class="sponsorimage" src="images/sponsors/ohhello.png" alt="Oh Hello!">
		</a>
		<a href="http://www.hotgossipnightclub.com">
			<img class="sponsorimage" src="images/sponsors/hotgossip.png" alt="Hot Gossip">
		</a>
		<a href="http://www.batterystationbrisbane.com">
			<img class="sponsorimage" src="images/sponsors/batterystation.png" alt="Battery Station">
		</a>
		<a href="http://riverlife.com.au">
			<img class="sponsorimage" src="images/sponsors/brisbaneriverlife.png" alt="Brisbane Riverlife">
		</a>
		<a href="http://woollymammoth.com.au">
			<img class="sponsorimage" src="images/sponsors/wooly.png" alt="Wooly Mammoth">
		</a>
		<a href="http://www.uqu.com.au">
			<img class="sponsorimage" src="images/sponsors/uqu.png" alt="UQU">
		</a>
		<a href="http://www.pancakemanor.com.au/">
			<img class="sponsorimage" src="images/sponsors/pancake.png" alt="Pancake Manor">
		</a>
		<a href="http://www.theflyingcock.com.au/">
			<img class="sponsorimage" src="images/sponsors/flyingcock.png" alt="The Flying Cock">
		</a>
		<a href="https://www.facebook.com/empirebrisbane/">
			<img class="sponsorimage" src="images/sponsors/empire.png" alt="Empire Hotel">
		</a>
		<a href="http://birdees.com.au/">
			<img class="sponsorimage" src="images/sponsors/birdees.png" alt="Birdees">
		</a>
	</p>

</div>
