
<div class="main-body">
	<h2 class="centered">MEMBER CREATED</h2>
	<div class="underline"></div>
	<p>Member successfully created! Come pay us ($5) at the next event you attend to complete your membership and receive your UQBARS card.
	</p>
</div>
